{% extends "base.html" %}

{% load staticfiles personify %}

{% block title %}{{ profile.name }} & {{ other_profile.name }} - Personality comparison{% endblock %}

{% block meta %}
<meta property="og:title" content="{{ profile.name }} & {{ other_profile.name }} - Personality comparison" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ share_url }}" />
<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{% url 'personify:screenshot' request.path %}" />
{% endblock %}

{% block content %}
  <div class="section">
    <div class="container">
      <br/>
      <div class="row">
        <div class="col-md-5 col-xs-12">
          <div class="media media-post">
              <span class="pull-left author">
                  <div class="avatar">
                      <img class="media-object img-circle img-lead" alt="{{ profile.name }}" src="{{ profile.picture_url }}">
                  </div>
              </span>
              <div class="media-body">
                <h2>
                  <a href="{% url 'personify:profile' profile.share_key %}" class="text-info">{{ profile.name }}</a>
                </h2>
              </div>
          </div>
        </div>

        <div class="col-md-2 col-xs-12 text-center">
          <h2 class="text-muted">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <i class="fa fa-clone" aria-hidden="true"></i>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </h2>
          {{ other_profile.ratio|floatformat:0 }}% similar
        </div>

        <div class="col-md-5 col-xs-12">
          <div class="media media-post text-right">
              <span class="pull-right author">
                  <div class="avatar">
                      <img class="media-object img-circle img-lead" alt="{{ other_profile.name }}" src="{{ other_profile.picture_url }}">
                  </div>
              </span>
              <div class="media-body">
                <h2>
                  <a href="{% url 'personify:profile' other_profile.share_key %}" class="text-danger">{{ other_profile.name }}</a>
                </h2>
                {% if own_profile %}
                <small>YOU</small>
                {% endif %}
              </div>
          </div>

        </div>

        <div class="col-xs-12">
          <h3 class="text-center">Personality profile</h3>
          <hr />
        </div>

        <div class="col-md-6 col-xs-12">

          <div class="well">

            <div id="profile-summary">
              <p>...</p>
            </div>

            <img class="img-circle img-mini pull-right visible-sm visible-xs" alt="{{ profile.name }}" src="{{ profile.picture_url }}">
            <br class="clearfix" />

            <p><br /></p>

            <h4>Most similar to:</h4>

            <div class="media media-post">
                <span class="pull-left author">
                    <div class="avatar">
                      <img class="media-object img-circle" alt="{{ famous.name }}" src="{{ famous.picture_url }}">
                    </div>
                </span>
                <div class="media-body">
                  <h4>
                    <a href="{% url 'personify:profile' famous.share_key %}">{{ famous.name }}</a>
                  </h4>
                  {{ famous.ratio|floatformat }}% similar
                  <div class="progress progress-line-primary">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{ famous.ratio|floatformat:0 }}%;">
                    </div>
                  </div>
                  {% if not famous.id == other_profile.id %}
                  <a href="{% url 'personify:compare' profile.share_key famous.share_key %}" class="pull-right">See comparison <i class="fa fa-clone" aria-hidden="true"></i></a>
                  {% else %}
                  &nbsp;
                  {% endif %}
                </div>
                <br />
            </div>

          </div>
        </div>

        <div class="col-md-6 col-xs-12">

          <div class="well">

            <div id="other-profile-summary">
              <p>...</p>
            </div>

            <img class="img-circle img-mini pull-right visible-sm visible-xs" alt="{{ other_profile.name }}" src="{{ other_profile.picture_url }}">
            <br class="clearfix" />

            <p><br /></p>

            <h4>Most similar to:</h4>

            <div class="media media-post">
                <span class="pull-left author">
                    <div class="avatar">
                      <img class="media-object img-circle" alt="{{ other_famous.name }}" src="{{ other_famous.picture_url }}">
                    </div>
                </span>
                <div class="media-body">
                  <h4>
                    <a href="{% url 'personify:profile' other_famous.share_key %}">{{ other_famous.name }}</a>
                  </h4>
                  {{ other_famous.ratio|floatformat }}% similar
                  <div class="progress progress-line-primary">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{ other_famous.ratio|floatformat:0 }}%;">
                    </div>
                  </div>
                  {% if not profile.id == other_famous.id %}
                  <a href="{% url 'personify:compare' other_famous.share_key other_profile.share_key %}" class="pull-right">See comparison <i class="fa fa-clone" aria-hidden="true"></i></a>
                  {% else %}
                  &nbsp;
                  {% endif %}
                </div>
                <br />
            </div>

          </div>
        </div>

      </div>

      {% if not own_profile %}
      <div class="text-center">
        <a href="{% url 'personify:compare' profile.share_key %}" class="btn btn-primary">How does {{ profile }} compare to me?</a>
      </div>
      {% endif %}

      <p><br /></p>

      <a name="stats"><hr /></a>

      <div class="row">

        <div class="col-sm-12 col-md-4">

          <h4 class="text-center">Personality (Big Five)</h4><br />

          <dl class="dl-horizontal">
          {% for name, props in profile.get_personality.personality.items %}
              <dt>
                {% if props.children %}
                <a data-toggle="collapse" href="#pers-{{ name|slugify }}" aria-expanded="false" aria-controls="pers-{{ name|slugify }}">{{ name|capfirst }} <b class="caret"></b></a>
                {% else %}
                {{ name|capfirst }}
                {% endif %}
              </dt>
              <dd>
                  <div class="dt-tooltip" data-toggle="tooltip" data-placement="top" title="{{ tooltips.big5|get_item:name }}" data-container="body">
                  {% with other_profile.get_personality.personality|get_item:name|get_item:'percentage' as other_result %}
                    {{ props.percentage|floatformat:0 }}%
                    <small>(vs <span class="danger">{{ other_result|floatformat:0 }}%</span>)</small>
                    <div class="progress progress-compared progress-line-info">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ props.percentage|floatformat:0 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ props.percentage|floatformat:0 }}%;">
                        <span class="sr-only">{{ props.percentage|floatformat:2 }}</span>
                      </div>
                    </div>
                    <div class="progress progress-line-danger">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ props.percentage|floatformat:0 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ other_result|floatformat:0 }}%;">
                        <span class="sr-only">{{ other_result|floatformat:2 }}</span>
                      </div>
                    </div>
                  {% endwith %}
                  </div>
              </dd>
              {% if props.children %}
              <div class="row collapse" id="pers-{{ name|slugify }}">
              <div class="col-xs-offset-2">
              {% for name2, props2 in props.children.items %}
              <dt>
                {{ name2|capfirst }}
              </dt>
              <dd>
                  <div class="dt-tooltip" data-toggle="tooltip" data-placement="top" title="{{ tooltips.big5|get_item:name2 }}" data-container="body">
                  {% with other_profile.get_personality.personality|get_item:name|get_item:'children'|get_item:name2|get_item:'percentage' as other_result %}
                    {{ props2.percentage|floatformat:0 }}%
                    <small>(vs <span class="danger">{{ other_result|floatformat:0 }}%</span>)</small>
                    <div class="progress progress-compared progress-line-info">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ props.percentage|floatformat:0 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ props2.percentage|floatformat:0 }}%;">
                        <span class="sr-only">{{ props2.percentage|floatformat:2 }}</span>
                      </div>
                    </div>
                    <div class="progress progress-line-danger">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ props.percentage|floatformat:0 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ other_result|floatformat:0 }}%;">
                        <span class="sr-only">{{ other_result|floatformat:2 }}</span>
                      </div>
                    </div>
                  {% endwith %}
              </dd>
              {% endfor %}
              </div>
              </div>
              {% endif %}
          {% endfor %}
          </dl>

        </div>

        <div class="col-sm-12 col-md-4">

          <h4 class="text-center">Values</h4><br />

          <dl class="dl-horizontal">
          {% for name, props in profile.get_personality.values.items %}
              <dt>
                {{ name|capfirst }}
              </dt>
              <dd>
                <div class="dt-tooltip" data-toggle="tooltip" data-placement="top" title="{{ tooltips.values|get_item:name }}" data-container="body">
                {% with other_profile.get_personality.values|get_item:name|get_item:'percentage' as other_result %}
                  {{ props.percentage|floatformat:0 }}%
                  <small>(vs <span class="danger">{{ other_result|floatformat:0 }}%</span>)</small>
                  <div class="progress progress-compared progress-line-info">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ props.percentage|floatformat:0 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ props.percentage|floatformat:0 }}%;">
                      <span class="sr-only">{{ props.percentage|floatformat:2 }}</span>
                    </div>
                  </div>
                  <div class="progress progress-line-danger">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ props.percentage|floatformat:0 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ other_result|floatformat:0 }}%;">
                      <span class="sr-only">{{ other_result|floatformat:2 }}</span>
                    </div>
                  </div>
                {% endwith %}
                </div>
              </dd>
          {% endfor %}
          </dl>

        </div>

        <div class="col-sm-12 col-md-4">

          <h4 class="text-center">Needs</h4><br />

          <dl class="dl-horizontal">
          {% for name, props in profile.get_personality.needs.items %}
              {% if forloop.counter == 6 %}
              <p class="text-right">
                <a data-toggle="collapse" href="#needs-more" aria-expanded="false" aria-controls="pers-{{ name|slugify }}">... <i class="fa fa-caret-down" aria-hidden="true"></i></a>
              </p>
              <div class="collapse" id="needs-more">
              {% endif %}
              <dt>
                {{ name|capfirst }}
              </dt>
              <dd>
                <div class="dt-tooltip" data-toggle="tooltip" data-placement="top" title="{{ tooltips.needs|get_item:name }}" data-container="body">
                {% with other_profile.get_personality.needs|get_item:name|get_item:'percentage' as other_result %}
                  {{ props.percentage|floatformat:0 }}%
                  <small>(vs <span class="danger">{{ other_result|floatformat:0 }}%</span>)</small>
                  <div class="progress progress-compared progress-line-info">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ props.percentage|floatformat:0 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ props.percentage|floatformat:0 }}%;">
                      <span class="sr-only">{{ props.percentage|floatformat:2 }}</span>
                    </div>
                  </div>
                  <div class="progress progress-line-danger">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ props.percentage|floatformat:0 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ other_result|floatformat:0 }}%;">
                      <span class="sr-only">{{ other_result|floatformat:2 }}</span>
                    </div>
                  </div>
                {% endwith %}
                </div>
              </dd>
              {% if forloop.counter > 5 and forloop.last %}
              </div>
              {% endif %}
          {% endfor %}
          </dl>

        </div>

        <div class="text-muted text-center">
          <small>
            <span class="label label-info">&middot;</span>
            {{ profile }}
            &nbsp;&nbsp;&nbsp;
            <span class="label label-danger">&middot;</span>
            {{ other_profile }}
          </small>
        </div>

        <hr />

      </div>

      <div class="row">

        <div class="col-md-8 col-md-offset-2">
          <div class="text-center">
            <h4>Share:</h4>
            <p>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url|urlencode }}" target="_blank" class="btn btn-fill btn-facebook">
                <i class="fa fa-facebook"></i> Share
              </a>
              or
              <a href="https://twitter.com/intent/tweet?url={{ share_url|urlencode }}" target="_blank" class="btn btn-fill btn-twitter">
                <i class="fa fa-twitter"></i> Tweet
              </a>
            </p>
          </div>
        </div>

      </div>

    </div>
  </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'personify/js/personality-text-summary.standalone.js' %}"></script>
<script type="text/javascript">
  $(function() {
    $('.dt-tooltip').tooltip();
  });

  var textSummary = new TextSummary('en');
  var text = textSummary.getSummary({{ profile.personality_raw|jsonify }});
  var parts = text.split('\n');
  $('#profile-summary').html("<p>" + parts.join("</p><p>" + "</p>"));

  text = textSummary.getSummary({{ other_profile.personality_raw|jsonify }});
  parts = text.split('\n');
  $('#other-profile-summary').html("<p>" + parts.join("</p><p>" + "</p>"));
</script>
{% endblock %}
