{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="section">
    <div class="container">
      <div class="text-center">
        <h1>So long.</h1>
        <p>
          Thank you for trying Personality Insights.
        </p>
        <div class="sheep-body">
          <div class="sheep-scene">
            <div class="sheep">
              <span class="top">
                <div class="body"></div>
                <div class="head">
                  <div class="eye one"></div>
                  <div class="eye two"></div>
                  <div class="ear one"></div>
                  <div class="ear two"></div>
                </div>
              </span>
                <div class="legs">
                  <div class="leg"></div>
                  <div class="leg"></div>
                  <div class="leg"></div>
                  <div class="leg"></div>
              </div>
            </div>
            <br class="clearfix" /><br class="clearfix" /><br class="clearfix" /><br class="clearfix" />
          </div>
        </div>

        <div class="text-right">
          <p class="text-muted"><small>Animation by <a href="http://codepen.io/shubhra" target="_blank" rel="nofollow">Shubhra</a></small></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
